<div class="container">
    <h1 class="h2">Gestión de rubros</h1>
    <button routerLink="/agregar-rubro"
        class="buttonAdd btn btn-primary buttonAgregar">Agregar
        rubros</button>
    <br>

    <ng-template #longContentBaja let-modal>

        <div class="modal-header">
            <h4 class="modal-title">Notificación</h4>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p><b>Un rubro fue dado de baja correctamente </b></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                (click)="modal.close('Close click')">Close</button>
        </div>

    </ng-template>

    <!-- Modal -->

    <br>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rubro of rubrosAux">
                <td>{{rubro.id}}</td>
                <td>{{rubro.nombre}}</td>
                <td>
                    <button
                        [routerLink]="['/editar-rubro', rubro.id]"
                        class="btn button btn-warning"><i
                            class="bi bi-pencil-fill"></i></button>
                    <button
                        class="btn button btn-danger"
                        (click)="eliminar(rubro, longContentBaja)"><i
                            class="bi bi-trash3-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div
        *ngIf="noExistenRubros"
        class="alert alert-primary text-center"
        role="alert">
        No hay Rubros.
    </div>
</div>