.button{
    margin: 5px 15px 0px 0px;
    padding-right: 15px;
    padding-left: 15px;
}
.buttonAdd , .h2{
    margin-left: 20px;
    display: block;
    text-align: center;
}
.buttonAgregar{
    display: block;
    text-align: center;
}
.deleted{
    color: brown;
}